In [2]:
lt = [1,2,3,'Anish','Pune','Sky']

In [3]:
print(lt)

[1, 2, 3, 'Anish', 'Pune', 'Sky']

# append
- adds an element to the existing list
- India is added to the end of list

In [13]:
lt.append('India')

In [14]:
lt

[1, 2, 3, 'Rahul', 'Anish', 'Pune', 'Sky', 'India']

# index
- returns the index of the amount
- at third index Anish is returned

In [15]:
lt.index(3)

2

In [7]:
lt.index('Anish')

3

# insert
- inserts the item to the specified index
- Rahul is inserted at the third index

In [8]:
lt.insert(3,'Rahul')

In [9]:
lt

[1, 2, 3, 'Rahul', 'Anish', 'Pune', 'Sky', 'India']

# copy
- returns a new list with the elements
- new list is been created with the same elements as that of previous list

In [10]:
mylt = lt.copy()

In [11]:
mylt

[1, 2, 3, 'Rahul', 'Anish', 'Pune', 'Sky', 'India']

# pop
- pops the last element of the list
- India as being the last element is removed

In [17]:
lt.pop()

'India'

In [18]:
lt

[1, 2, 3, 'Rahul', 'Anish', 'Pune', 'Sky']

# Dictionaries

In [19]:
dit = {'name':'Anish','age':20,'contact':'9999999999','mail':'xyz@abc.in'}

In [20]:
dit

{'name': 'Anish', 'age': 20, 'contact': '9999999999', 'mail': 'xyz@abc.in'}

# items
- returns all the items present in the dictionary

In [21]:
dit.items()

dict_items([('name', 'Anish'), ('age', 20), ('contact', '9999999999'), ('mail', 'xyz@abc.in')])

# keys 
- returns all the keys of the dictionary

In [22]:
dit.keys()

dict_keys(['name', 'age', 'contact', 'mail'])

# values
- returns all the values in the list

In [24]:
dit.values()

dict_values(['Anish', 20, '9999999999', 'xyz@abc.in'])

# pop
- returns the poped element at the specified key

In [26]:
dit.pop('age')

20

# clear
- removes all elements from the dictionary

In [27]:
dit.clear()

In [28]:
dit

{}

# sets

In [30]:
my_set = {1,2,(5,60),'Mumbai','Pune'}

In [31]:
my_set

{(5, 60), 1, 2, 'Mumbai', 'Pune'}

# discard
- removes the specified element

In [33]:
my_set.discard(2)

None

In [35]:
my_set

{(5, 60), 1, 'Mumbai', 'Pune'}

# add
- adds an element in the set

In [36]:
my_set.add(3)

In [37]:
my_set

{(5, 60), 1, 3, 'Mumbai', 'Pune'}

In [38]:
set2 = {5,3,4,'Mumbai','Delhi',('a','b')}

# union
- returns the union of all the elements in both the sets

In [39]:
my_set.union(set2)

{('a', 'b'), (5, 60), 1, 3, 4, 5, 'Delhi', 'Mumbai', 'Pune'}

# Intersection
- returns the same element from both the sets

In [40]:
my_set.intersection(set2)

{3, 'Mumbai'}

# Difference
- returns the element which are in one set but not in other set

In [43]:
my_set.difference(set2)

{(5, 60), 1, 'Pune'}

In [44]:
set2.difference(my_set)

{('a', 'b'), 4, 5, 'Delhi'}

# Tuple

In [55]:
tup = (1,2,3,'Mumbai',5,8,'Chennai')

In [56]:
tup

(1, 2, 3, 'Mumbai', 5, 8, 'Chennai')

# count
- returns the count of specified element

In [57]:
tup.count(3)

1

# index
- returns the index of the specified element

In [58]:
tup.index(5)

4

# String

In [59]:
string1 = " LetsUpgrade upgrades our Career"

In [60]:
string2 = "Python is awesome language"

In [63]:
string3 = "Python is easy to learn, and is easy to understand"

# upper
- retutns a converted string of upper case

In [62]:
string1.upper()

' LETSUPGRADE UPGRADES OUR CAREER'

# count
- returns the index of the first occurance of specified substring

In [64]:
string3.count('is')

2

# find
- returns the first occurance of substring

In [65]:
string3.find('easy')

10

# partition 
- splits the string at the first occurrence of the argument string and returns a tuple containing the part the before separator, argument string and the part after the separator

In [69]:
string2.partition('is')

('Python ', 'is', ' awesome language')

# replace
- returns a copy of the string where all occurrences of a substring is replaced with another substring

In [71]:
string3.replace('easy','simple')

'Python is simple to learn, and is simple to understand'